#root{
  min-height: 200vh;
  background-color: black;
  padding-bottom: 30px;
}
/* NAVBAR */
.sidenav{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #132A4B;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 60px;

}
.userclass{
  display: none;
}
.fas.fa-user{
  font-size: 20px;
  color: white;
}
.seleziona_genere{
  display: flex;
  flex-direction: column;
  height: 60px;
}
.utente span{
  color: white;
  margin-left: 8px;
}
.utente{
  padding-top: 10px;
}

.sidenav .seleziona_genere a{
  color: lightgrey;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 15px;
}
.sidenav .seleziona_genere a:hover{
  color: white;
}
.fas.fa-times{
  color: lightgrey;
  margin: 20px 20px 30px;
  font-size: 20px;
}
.fas.fa-times:hover{
  color: white;
}
.fas.fa-bell{
  font-size: 20px;
  color: white;
  padding-top: 11px;
}
.menu{
  background-color: #13294A;
  border: 2px solid white;
  color: white;
  height: 30px;
}
.menu:hover{
  height: 32px;
}
.navbar{
  background-color: #13294A;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.input-group {
  width: 300px;
}
.navbar-nav .nav-item a, .navbar-nav .nav-item i{
  color: white;
  margin: 0 20px;
}
.navbar-brand img{
  height: 50px;
  margin-left: 50px;
  margin-right: 60px;
}
.i-navbar-collapse{
  display: flex;
}
.input-group input{
  border-radius: 100px;
  border: 0px;
  border-left: 0px;
  color: white;
  background-color: #34393C;
  font-size: 15px;
}
.input-group input:focus{
  color: white;
  background-color: #34393C;
  box-shadow: 0 0 0 0;
}
.input-group span{
  border-radius: 100px;
  border-right: 0px;
  border: 0px;
  font-size: 10px;
  background-color: #34393C;
}
.fas.fa-search{
  color: white;
  font-size: 14px;
}
/* FILM CONSIGLIATI */
.films{
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 400px;
  width: auto;
}
.series{
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 400px;
  width: auto;
}
/* RICERCATI */
.searched{
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 400px;
  width: auto;
}
.card_film{
  margin: 0px 30px;
  height: 100%;
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 15px;
  position: relative;
}
.card_film img{
  height: 100%;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 15px;
}
.card_film_hover{
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(26, 188, 156, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card_film:hover .card_film_hover{
  visibility: visible;
}
.card_film_hover h4{
  font-size: 15px;
  text-align: center;
}
.card_film_hover p{
  font-size: 13px;
  text-align: center;
}
.card_film_hover img.bandierina{
  height: 20px;
  width: auto;
  text-align: center;
}
.searched_text h2{
  margin: 20px;
  color: white;
  font-weight: bolder;
}
.acceso{
  color: #FFD400;
}
.immagini{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-chevron-right{
  font-size: 40px;
  padding-left: 30px;
}
.fa-chevron-left{
  font-size: 40px;
  padding-right: 30px;
}
.fa-circle{
  color: lightgrey;
  margin: 50px 10px;
}
.slider i.active{
  color: blue;
}
#carouselExampleInterval{
  height: 500px;
  width: 100%;
  padding-top: 60px;
}
.carousel-item {
  height: 500px;
  width: 100%;
  position: relative;
}
.carousel-item .slide{
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item:hover .hover_peli{
  visibility: visible;
}

.hover_peli{
  width: 400px;
  height: 500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  visibility: hidden;
  background-color: rgba(26, 188, 156, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.hover_peli .voto{
  margin-top: 20px;
}

.hover_peli h3{
  color: white;
  font-weight: bolder;
}




@media screen and (min-width: 768px) and (max-width: 991px){
  #root{
    padding-bottom: 30px;
    min-height: 200vh;
  }
  .sidenav{
    margin-top: 50px;
  }
  .fas.fa-user{
    font-size: 20px;
    color: white;
  }
  .utente{
    display: none;
  }
  .username{
    margin-left: 7px;
  }
  .userclass{
    margin-top: 350px;
    display: block;
  }
  .userclass  p{
    margin-top: 15px;
  }
  .fas.fa-bell i{
    font-size: 5px;
    padding-top: 15px;
    height: 50px;
  }

  .sidenav .seleziona_genere a{
    color: lightgrey;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .sidenav .seleziona_genere a:hover{
    color: white;
  }
  .fas.fa-times{
    color: lightgrey;
    margin: 20px 20px 30px;
    font-size: 20px;
  }
  .fas.fa-times:hover{
    color: white;
  }
  .fas.fa-bell{
    font-size: 20px;
    color: white;
    padding-top: 6px;
  }
  #carouselExampleInterval{
    padding-top: 50px;
  }
  .film_tv{
    margin-bottom: 10px;
  }
  .container-fluid{
    height: 50px;
    display: flex!important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    justify-content: space-around!important;
  }
  /* NAVBAR */
  .navbar{
    background-color: #13294A;
    height: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
  }
  .navbar-nav.me-auto.mb-2.mb-lg-0{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px!important;
    margin-right: 0px!important;
  }
  .nav-link {
    padding: 0px;
  }
  .input-group {
    width: 300px;
  }
  .navbar-nav .nav-item a{
    color: white;
    margin-right: 20px;
  }
  .navbar-brand img{
    height: 40px;
    margin-left: 50px;
    margin-right: 10px;
  }
  .i-navbar-collapse{
    display: flex;
  }
  .input-group input{
    border-radius: 60px;
    border: 0px;
    border-left: 0px;
    color: white;
    background-color: #34393C;
    font-size: 15px;
  }
  .input-group span{
    border-radius: 100px;
    border-right: 0px;
    border: 0px;
    font-size: 10px;
    background-color: #34393C;
  }
  .fas.fa-search{
    color: white;
    font-size: 14px;
  }
  .carousel-item img{
    height: 500px;
  }
}




@media screen and (max-width: 767px){
  #root{
    padding-bottom: 30px;
    min-height: 100vh;
  }
  .sidenav{
    margin-top: 40px;
  }
  .film_tv{
    margin-bottom: 30px;
    padding-top: 50px;
  }
  .container-fluid{
    height: 50px;
  }
  .userclass{
    margin-top: 300px;
    display: block;
  }
  .userclass  p{
    margin-top: 15px;
  }
  /* NAVBAR */
  .navbar{
    background-color: #13294A;
    height: 50px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar-nav.me-auto.mb-2.mb-lg-0{
    display: none;
  }
  .nav-link {
    padding: 0px;
  }
  .nav-link a{
    font-size: 15px;
  }
  .input-group {
    width: 150px;
  }
  .navbar-nav .nav-item a{
    color: white;
    margin-right: 20px;
  }
  .navbar-brand img{
    height: 40px;
    margin: 0px;
  }
  .i-navbar-collapse{
    display: flex;
  }
  .input-group input{
    border-radius: 60px;
    border: 0px;
    border-left: 0px;
    color: white;
    background-color: #34393C;
    font-size: 15px;
  }
  .input-group span{
    border-radius: 100px;
    border-right: 0px;
    border: 0px;
    font-size: 10px;
    background-color: #34393C;
  }
  .fas.fa-search{
    color: white;
    font-size: 14px;
  }

  #carouselExampleInterval{
    padding: 0px;
    display: none;
  }
  .searched{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    height: 300px;
    width: auto;
  }
  .searched_text{
    padding-top: 40px;
  }
  .card_film{
    margin: 0px 30px;
    height: 100%;
    width: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 15px;
    position: relative;
  }
  .card_film img{
    height: 100%;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    border-radius: 15px;
  }
  .card_film_hover{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background-color: rgba(26, 188, 156, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  .films{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    height: 300px;
    width: auto;
  }
  .series{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    height: 300px;
    width: auto;
  }
}
