#root{
  height: 200vh;
  background-color: black;
}
/* NAVBAR */
.navbar{
  background-color: #13294A;
  height: 60px;
}
.input-group {
  width: 300px;
}
.navbar-nav .nav-item a{
  color: white;
  margin-right: 50px;
}
.navbar-brand img{
  height: 50px;
  margin-left: 50px;
}
.i-navbar-collapse{
  display: flex;
}
.input-group input{
  border-radius: 100px;
  border: 0px;
  border-left: 0px;
  color: white;
  background-color: #34393C;
  font-size: 15px;
}
.input-group span{
  border-radius: 100px;
  border-right: 0px;
  border: 0px;
  font-size: 10px;
  background-color: #34393C;
}
.fas.fa-search{
  color: white;
  font-size: 14px;
}
/* FILM CONSIGLIATI */
.films{
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 400px;
  width: auto;
}
.series{
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 400px;
  width: auto;
}
/* RICERCATI */
.searched{
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  height: 400px;
  width: auto;
}
.card_film{
  margin: 0px 30px;
  height: 100%;
  width: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 15px;
  position: relative;
}
.card_film img{
  height: 100%;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 15px;
}
.card_film_hover{
  width: 100%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: rgba(26, 188, 156, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card_film:hover .card_film_hover{
  visibility: visible;
}
.card_film_hover h4{
  font-size: 15px;
  text-align: center;
}
.card_film_hover p{
  font-size: 13px;
  text-align: center;
}
.card_film_hover img.bandierina{
  height: 20px;
  width: auto;
  text-align: center;
}
.searched_text h2{
  margin: 20px;
  color: white;
  font-weight: bolder;
}
.acceso{
  color: #FFD400;
}
.immagini{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-chevron-right{
  font-size: 40px;
  padding-left: 30px;
}
.fa-chevron-left{
  font-size: 40px;
  padding-right: 30px;
}
.fa-circle{
  color: lightgrey;
  margin: 50px 10px;
}
.slider i.active{
  color: blue;
}
#carouselExampleInterval{
  height: 500px;
  width: 100%;
}
.carousel-item {
  height: 500px;
  width: 100%;
  position: relative;
}
.carousel-item .slide{
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item:hover .hover_peli{
  visibility: visible;
}

.hover_peli{
  width: 400px;
  height: 500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  visibility: hidden;
  background-color: rgba(26, 188, 156, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.hover_peli .voto{
  margin-top: 20px;
}
.hover_peli h3{
  color: white;
  font-weight: bolder;
}
